* {
  outline: 1px dashed red;
  box-sizing: content-box;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
}

/* Mixins */

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.standard-padding {
  padding: 0 1vw;
}

/* Styles */

#page-wrapper {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

#header {

  display: flex;
  align-items: center;
  flex-direction: column;
  background: #cccccc;

  .main-menu {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    .menu-item {
      border-right: 1px solid black;
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  .cta {
    flex: 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}

#footer {

  background-color: #ddd;
  display: flex;
  justify-content: space-evenly;

  .contact-us {
    flex: 1;
    .flex-center;
  }

  .social-media {
    flex: 2;
    .flex-center;
  }

  .subscribe {
    flex: 1;
    .flex-center;
  }

}

#content {

  padding: 1rem;

  .grid-wrapper {

    display: grid;
    /* Mobile-first */
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    @media screen and (min-width: 475px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 640px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(4, 1fr);
    }
    @media screen and (min-width: 1024px) {
      grid-template-columns: repeat(5, 1fr);
    }

    .grid-item {
      position: relative;

      div {
        overflow: hidden;
      }

      .grid-item-spacer {
        padding-top: 150%;
      }

      .grid-item-card {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-rows: 20% 1fr 15%;
      }

      .grid-item-header {
        .flex-center;
        .standard-padding;
      }

      .grid-item-content {
        .flex-center;
        .standard-padding;
      }

      .grid-item-footer {
        .flex-center;
        .standard-padding;
        font-size: 90%;
      }

      &.condensed {

        .grid-item-card {
          grid-template-rows: 20% 1fr;
        }

        .grid-item-header {
          background-color: #eee;
        }

        .grid-item-content {
          background-color: aliceblue;
        }
      }
    }

  }

}


