* {
  outline: 1px dashed red;
  box-sizing: content-box;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-wrapper {
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 100px;
}

#header {

  display: flex;
  align-items: center;
  flex-direction: column;
  background: #cccccc;

  .main-menu {
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;

    .menu-item {
      border-right: 1px solid black;
      width: 100%;
      display: flex;
      align-items: center;
      height: 100%;
      justify-content: center;

      &:last-child {
        border-right: none;
      }
    }
  }

  .cta {
    flex: 3;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

}

#footer {

  .contact-us {

  }

  .social-media {

  }

  .subscribe {

  }

}

#content {

  padding: 1rem;

  .grid-wrapper {

    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;

    @media screen and (min-width: 475px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media screen and (min-width: 640px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media screen and (min-width: 800px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .grid-item {

      .grid-item-header {
        height: 30px;
        .flex-center;
      }

      .grid-item-content {
        .flex-center;
        height: 100px;
      }

      .grid-item-footer {
        .flex-center;
        height: 20px;
      }

    }

  }

}


